*{
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
}
.logo{
    text-align: center;
    image-resolution:initial;
    background-color:azure;
    /*background-image: url(images/logo2.png);*/
}
/*
.nav_bar .logo{
    background-image: url(images/logo2.png);
}*/
.nav_links{
    background-color:darkorange;
}
.nav_links a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: top;
    padding: 30px 10px;
    font-size: 1.5rem;
    display:inline;
    justify-content: space-around;
    color:darkslategrey;
}
.nav_links  a:hover{
    color: #fff;
}
.intro h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 5px 5px;
    color: darkred;
}
.weather_map{
    margin: 0 auto;
    padding: 10px 10px;
    border: 10px solid darkorange;
}
.foot{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}